<!--
============================================================================
LISTING TEMPLATE 01: LOCATION-FIRST CARDS
============================================================================
Copy this entire block into your page where you want the property listings.
Requires: realtysoft.min.css and realtysoft.min.js to be loaded on your page.

SIMPLE USAGE:
Just add: <div class="rs-listing-template-01"></div>
The JavaScript will auto-render everything!

WITH FILTERS:
<div class="rs-listing-template-01"
     data-rs-location="505"
     data-rs-listing-type="resale"></div>
============================================================================
-->

<div class="rs-listing-template-01"></div>
